
.color-contorno {
    border: 2px solid #a7ba9f;
}

.navbar{
margin-bottom: 0px;
}

.color-fondo {
    background-color: #fefff0;
}

.fondo{ 
    margin-top: 4.5%;
    font-family: 'Sacramento', cursive;
    font-size: 220%;
    font-weight: bold;
    color: #547972;
}

.colorfondoImagen {
    background-color: #e6c9a1;
}

.anchoImagen {
    width: 90%;
}
.imagen-fondo {
    background-position: bottom;
}

.contenedorImagen {
    background-image: url("../assets/img/img-portada.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: bottom;
}
.colorBlancoPortada{
    color: aliceblue;
    text-decoration-color: aliceblue;
}

.fontSize {
    font-size: 340%;
}

.centrar-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sizeText {
    font-size: 160%;
}

.borde {
    border: 2px solid #d8dccd;
}

.anchoBoton{
    width: 10%;
}

.colorFondoBoton{
    background-color: #7192a9;
    background: rgba(20,50,100,.4);
   
}

.bajar {
    margin-top: 2%;
}

.colorFondoHabilidades{
    background-color: #d8dccd;
}

.colorH1Habilidades{
    color: #89a5b5;
}
.anchoImagenJs{
    width: 70%;
}
.alinearCentro{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.barraCss{
    background: #d1e4b6;
}
.progress{
    padding-left: 0;
    margin-top: 10%;
}
.espacioTop {
    margin-top: 7%;
}
.centrar{
    margin-left: 35%
}
.colorFondoFooter {
    background-color: #356392
}

.sinMargen{
    margin-bottom: 0;
    margin-top: 0;
}
.font {
    font-family: 'Sacramento', cursive;
    font-size: 220%;
    font-weight: bold;
    color: #d8dccd;;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.paddingTop {
    padding-top: 5%;
}
.colorIcono {
    color: aliceblue;
}
.anchoIcono {
    font-size: 300%;
}
.espacioEntreIconos{
    margin-right: 3%;
}
.espacioBottom{
    margin-bottom: 4%;
}
.colorFondoProyectos {
    background-color: #d1e4b6;
}
.sinMargen {
    margin-top: 0;
    padding-top: 0;
}